body > .container{
    padding-top: 60px;
}
.navbar-header .navbar-brand{
	padding-top: 4px !important;
}

.navbar-header .navbar-brand img:hover{
	opacity: 0.8;
	text-decoration: none;
}
.log_comment{
	clear: both;
	padding-left: 15px;
	font-size: 11px;
}
.log_datetime{
	font-size: 11px;
	color: #bbb;
}